* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card-deck {
    width: 85%;
    background:white;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    perspective: 1000px;
  }

  .flip-card {
    background-color: transparent;
    height: 3.7rem;
    width: 3.7rem;
    perspective: 1000px;
    margin: 0.2rem 0.2rem;
    border-radius: 5px;
    color: #ffffff;
  }
  .game-header {
    display: flex;
    margin: 30px 0;
    font-size: 18px;

  }
  .game-header button {
    padding: 12px;
  }
  .game-header .moves {
    margin-right: 6px;
  }
  .game-header .timer {
    margin-right: 6px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  img {
    width: 100%;
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }

  .flip {
    transform: rotateY(180deg);
  }
  .disabled {
    pointer-events:none;
  }

  @media (max-width: 320px) {
    .card-deck {
      width: 85%;
    }

    .card-deck .card {
      height: 4.7rem;
      width: 4.7rem;
    }
  }

  @media (min-width: 768px) {
    .container {
      font-size: 22px;
    }

    .card-deck {
      width: 660px;
      height: 680px;
    }

    .card-deck .flip-card {
      height: 125px;
      width: 125px;
    }
  }
